<div class="page-header">
  <h1>Scorecard</h1>
</div>

<ul class="nav nav-pills nav-justified">
  <li ng-repeat="t in trimestres">
    <a href="" ng-click="$parent.trimestre = t" ng-class="{active: trimestre == t}">{{t}}</a>
  </li>
</ul>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Suivi de l'impact</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="15%"></th>
                <th width="25%">Nombre d'utilisatrices</th>
                <th width="30%">Progression depuis le trimestre pr&eacute;c&eacute;dent</th>
                <th width="30%">Progression sur les 12 derniers mois</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="contraceptif in data.contraceptifs">
                <th>{{contraceptif.nom}}</th>
                <td>{{contraceptif.total}}</td>
                <td>
                  <span class="glyphicon" ng-class="{
                    'glyphicon-arrow-up success': contraceptif.trimestreChange > 0,
                    'glyphicon-minus warning': contraceptif.trimestreChange === 0,
                    'glyphicon-arrow-down danger': contraceptif.trimestreChange < 0
                    }"></span>
                  {{contraceptif.trimestreChange}}
                  <span ng-if="contraceptif.trimestreChange !== void(0)">%</span>
                </td>
                <td>
                  <span class="glyphicon" ng-class="{
                    'glyphicon-arrow-up success': contraceptif.yearChange > 0,
                    'glyphicon-minus warning': contraceptif.yearChange === 0,
                    'glyphicon-arrow-down danger': contraceptif.yearChange < 0
                    }"></span>
                  {{contraceptif.yearChange}}
                  <span ng-if="contraceptif.yearChange !== void(0)">%</span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th>{{data.contraceptifsTotal}}</th>
                <th>
                  <span class="glyphicon" ng-class="{
                    'glyphicon-arrow-up success': data.contraceptifsTrimestreChange > 0,
                    'glyphicon-minus warning': data.contraceptifsTrimestreChange === 0,
                    'glyphicon-arrow-down danger': data.contraceptifsTrimestreChange < 0
                    }"></span>
                  {{data.contraceptifsTrimestreChange}}
                  <span ng-if="data.contraceptifsTrimestreChange !== void(0)">%</span>
                </th>
                <th>
                  <span class="glyphicon" ng-class="{
                    'glyphicon-arrow-up success': data.contraceptifsYearChange > 0,
                    'glyphicon-minus warning': data.contraceptifsYearChange === 0,
                    'glyphicon-arrow-down danger': data.contraceptifsYearChange < 0
                    }"></span>
                  {{data.contraceptifsYearChange}}
                  <span ng-if="data.contraceptifsYearChange !== void(0)">%</span>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-sm-5">
        <div ng-if="chartData[0][0]" ui-chart="chartData" chart-options="chartOptions"></div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Indicateurs programmatiques</h2>
  </div>

  <div class="panel-body">
    <div class="col-sm-9">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="20%"></th>
              <th width="30%">Activit&eacute;s</th>
              <th width="50%">Statuts</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="programme in data.programmes">
              <th rowspan="3">{{programme.type}}</th>
              <td ng-class="{success: programme.activites[0].statut == '0',
                warning: programme.activites[0].statut == '1',
                danger: programme.activites[0].statut == '2'}">
                {{programme.activites[0].nom}}</td>
              <td ng-class="{success: programme.activites[0].statut == '0',
                warning: programme.activites[0].statut == '1',
                danger: programme.activites[0].statut == '2'}">
                {{statuts[programme.activites[0].statut]}}</td>
            </tr>
            <tr>
              <td ng-class="{success: programme.activites[1].statut == '0',
                warning: programme.activites[1].statut == '1',
                danger: programme.activites[1].statut == '2'}">{{programme.activites[1].nom}}</td>
              <td ng-class="{success: programme.activites[1].statut == '0',
                warning: programme.activites[1].statut == '1',
                danger: programme.activites[1].statut == '2'}">{{statuts[programme.activites[1].statut]}}</td>
            </tr>
            <tr ng-repeat-end="">
              <td ng-class="{success: programme.activites[2].statut == '0',
                warning: programme.activites[2].statut == '1',
                danger: programme.activites[2].statut == '2'}">{{programme.activites[2].nom}}</td>
              <td ng-class="{success: programme.activites[2].statut == '0',
                warning: programme.activites[2].statut == '1',
                danger: programme.activites[2].statut == '2'}">{{statuts[programme.activites[2].statut]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="panel" ng-class="{'panel-success': data.stock == 0,
        'panel-warning': data.stock <= 5 && data.stock > 0, 'panel-danger': data.stock > 5}">
        <div class="panel-heading">
          <h3 class="panel-title">
            Taux de rupture de stock
          </h3>
        </div>
        <div class="panel-body center">
          <span class="lead"><b>{{data.stock}} %</b></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Indicateurs de suivi des engagements politiques et financiers</h2>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th>Valeur</th>
            <th>Evolution par rapport au semestre pr&eacute;c&eacute;dent</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="engagement in data.engagements" ng-show="!$first || trimestre.indexOf('T1') > -1 || trimestre.indexOf('T3') > -1">
            <th rowspan="{{engagement.activites.length}}">{{engagement.type}}</th>
            <th>{{engagement.activites[0].nom}}</th>
            <td>
              <span ng-if="engagement.activites[0].forme == 'pourcentage'">
                {{engagement.activites[0].valeur}} %
              </span>
              <span ng-if="engagement.activites[0].forme == 'booleen'">
                <span class="glyphicon" ng-class="{'glyphicon-ok-sign success': engagement.activites[0].valeur == '1',
                  'glyphicon-remove-sign danger': engagement.activites[0].valeur == '0'}"></span>
                {{booleens[engagement.activites[0].valeur]}}
              </span>
            </td>
            <td>
              <span ng-if="engagement.activites[0].forme == 'pourcentage'">
                <span class="glyphicon" ng-class="{
                  'glyphicon-arrow-up success': engagement.activites[0].prev > 0,
                  'glyphicon-minus warning': engagement.activites[0].prev === 0,
                  'glyphicon-arrow-down danger': engagement.activites[0].prev < 0}"></span>
                {{engagement.activites[0].prev}}
                <span ng-if="engagement.activites[0].prev !== void(0)">%</span>
              </span>
            </td>
          </tr>
          <tr ng-show="!$first || trimestre.indexOf('T1') > -1 || trimestre.indexOf('T3') > -1">
            <th>{{engagement.activites[1].nom}}</th>
            <td>
              <span ng-if="engagement.activites[1].forme == 'pourcentage'">
                {{engagement.activites[1].valeur}} %
              </span>
              <span ng-if="engagement.activites[1].forme == 'booleen'">
                <span class="glyphicon" ng-class="{'glyphicon-ok-sign success': engagement.activites[1].valeur == '1',
                  'glyphicon-remove-sign danger': engagement.activites[1].valeur == '0'}"></span>
                {{booleens[engagement.activites[1].valeur]}}
              </span>
            </td>
            <td>
              <span ng-if="engagement.activites[1].forme == 'pourcentage'">
                <span class="glyphicon" ng-class="{
                  'glyphicon-arrow-up success': engagement.activites[1].prev > 0,
                  'glyphicon-minus warning': engagement.activites[1].prev === 0,
                  'glyphicon-arrow-down danger': engagement.activites[1].prev < 0}"></span>
                {{engagement.activites[1].prev}}
                <span ng-if="engagement.activites[1].prev !== void(0)">%</span>
              </span>
            </td>
          </tr>
          <tr ng-repeat-end="" ng-show="engagement.activites.length > 2 &&
              (!$first || trimestre.indexOf('T1') > -1 || trimestre.indexOf('T3') > -1)">
            <th>{{engagement.activites[2].nom}}</th>
            <td>
              <span ng-if="engagement.activites[2].forme == 'pourcentage'">
                {{engagement.activites[2].valeur}} %
              </span>
              <span ng-if="engagement.activites[2].forme == 'booleen'">
                <span class="glyphicon" ng-class="{'glyphicon-ok-sign success': engagement.activites[2].valeur == '1',
                  'glyphicon-remove-sign danger': engagement.activites[2].valeur == '0'}"></span>
                {{booleens[engagement.activites[2].valeur]}}
              </span>
            </td>
            <td>
              <span ng-if="engagement.activites[2].forme == 'pourcentage'">
                <span class="glyphicon" ng-class="{
                  'glyphicon-arrow-up success': engagement.activites[2].prev > 0,
                  'glyphicon-minus warning': engagement.activites[2].prev === 0,
                  'glyphicon-arrow-down danger': engagement.activites[2].prev < 0}"></span>
                {{engagement.activites[2].prev}}
                <span ng-if="engagement.activites[2].prev !== void(0)">%</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>