<div class="page-header">
  <h1>Scorecard</h1>
</div>

<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#">T1 2013</a></li>
  <li><a href="#">T2 2013</a></li>
  <li><a href="#">T3 2013</a></li>
</ul>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Suivi de l'impact</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="15%"></th>
              <th width="25%">Nombre d'utilisatrices</th>
              <th width="30%">Progression depuis le trimestre pr&eacute;c&eacute;dent</th>
              <th width="30%">Progression sur les 12 derniers mois</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Pilules</th>
              <td>250.667</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                25.3%
              </td>
              <td>
                <span class="glyphicon glyphicon-exclamation-sign warning"></span>
                0%
              </td>
            </tr>
            <tr>
              <th>Injectables</th>
              <td>30.000</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                50%
              </td>
              <td>
                <span class="glyphicon glyphicon-remove-sign danger"></span>
                -10%
              </td>
            </tr>
            <tr>
              <th>Implants</th>
              <td>78.395</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                12%
              </td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                12%
              </td>
            </tr>
            <tr>
              <th>DIU</th>
              <td>53.283</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                6.6%
              </td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                7%
              </td>
            </tr>
            <tr>
              <th>Pr&eacute;servatifs</th>
              <td>63.500</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                217.5%
              </td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                218%
              </td>
            </tr>
            <tr>
              <th>Contraception d'urgence</th>
              <td>18.000</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                260.0%
              </td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                260%
              </td>
            </tr>
            <tr>
              <th>St&eacute;rilisation</th>
              <td>11.850</td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                97.5%
              </td>
              <td>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                98%
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th>505.694</th>
              <th>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                36.3%
              </th>
              <th>
                <span class="glyphicon glyphicon-ok-sign success"></span>
                36.3%
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-sm-5">
        <div ui-chart="data" chart-options="chartOptions"></div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Indicateurs programmatiques</h2>
  </div>

  <div class="panel-body">
    <div class="col-sm-9">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%"></th>
            <th width="30%">Activit&eacute;s</th>
            <th width="50%">Statuts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="3">Demande</th>
            <td class="success">Activit&eacute; 1</td>
            <td class="success">En avance ou dans les temps par rapport au plan</td>
          </tr>
          <tr>
            <td class="warning">Activit&eacute; 2</td>
            <td class="warning">En retard de moins de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <td class="danger">Activit&eacute; 3</td>
            <td class="danger">En retard de plus de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <th rowspan="3">Acc&egrave;s aux services</th>
            <td class="danger">Activit&eacute; 1</td>
            <td class="danger">En retard de plus de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <td class="success">Activit&eacute; 2</td>
            <td class="success">En avance ou dans les temps par rapport au plan</td>
          </tr>
          <tr>
            <td class="warning">Activit&eacute; 3</td>
            <td class="warning">En retard de moins de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <th rowspan="3">Disponibilit&eacute; des produits</th>
            <td class="warning">Activit&eacute; 1</td>
            <td class="warning">En retard de moins de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <td class="danger">Activit&eacute; 2</td>
            <td class="danger">En retard de plus de 3 mois par rapport au plan</td>
          </tr>
          <tr>
            <td class="success">Activit&eacute; 3</td>
            <td class="success">En avance ou dans les temps par rapport au plan</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-exclamation-sign warning"></span>
            Taux de rupture de stock
          </h3>
        </div>
        <div class="panel-body center">
          <span class="lead"><b>1%</b></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Indicateurs de suivi des engagements politiques et financiers</h2>
  </div>

  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"></th>
          <th>Valeur</th>
          <th>Evolution par rapport au semestre pr&eacute;c&eacute;dent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="3">Financements</th>
          <th>Part du budget du PF promise</th>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            99%
          </td>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            99%
          </td>
        </tr>
        <tr>
          <th>Part du budget du PF re&ccedil;ue</th>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            95%
          </td>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            95%
          </td>
        </tr>
        <tr>
          <th>Part du budget du PF financ&eacute;e par le gouvernement</th>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            20%
          </td>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            20%
          </td>
        </tr>
        <tr>
          <th rowspan="2">Engagement politique</th>
          <th>Adoption des normes de l'OMS</th>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            Oui
          </td>
          <td></td>
        </tr>
        <tr>
          <th>Remont&eacute;e de la fonction PF dans les organigrammes</th>
          <td>
            <span class="glyphicon glyphicon-remove-sign danger"></span>
            Non
          </td>
          <td></td>
        </tr>
        <tr>
          <th rowspan="2">Suivi et coordination</th>
          <th>Un comit&eacute; technique de mise en œuvre du plan a eu lieu ce trimestre</th>
          <td>
            <span class="glyphicon glyphicon-ok-sign success"></span>
            Oui
          </td>
          <td></td>
        </tr>
        <tr>
          <th>Part des r&eacute;gions dont les donn&eacute;es sont int&eacute;gr&eacute;es dans ce rapport</th>
          <td>
            <span class="glyphicon glyphicon-remove-sign success"></span>
            90%
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>